<img class="home-image" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000" alt="background-img"/>
<div class="home-container">
  <h1 class="text-danger title-website">
    Welcome to the recipes website
  </h1>
  <h4 class="text-light pt-2 pb-lg-5">
    Explore a wide range of delicious recipes and culinary delights.
    <br />
    Whether you're a novice cook or a seasoned chef,
    <br/>
    you'll find something to tantalize your taste buds here.
  </h4>
  <app-group></app-group>
</div>
